@import "tailwindcss";
@import "@fontsource/poppins";

:root {
  --font-family: "Poppins";
  --background: #ffffff;
  --foreground: #171717;
  --color-primary-100: #a78bfa;
  --color-primary-200: #8b5cf6;
  --color-primary-300: #7c3aed;
  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;
}
/* Custom spacing dengan 1px ratio (1:1 bukan 1:4) */
/* p-1 = 1px, p-4 = 4px, p-16 = 16px */
